<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/81f8c352-127e-49e0-af58-5cc4a3f390c6/resourceGroups/DentalHub/providers/Microsoft.ContainerRegistry/registries/dentalApi</ResourceId>
    <ResourceName>dentalApi</ResourceName>
    <ResourceGroup>DentalHub</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://dentalapi.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7d4d00d9-4887-4856-bcd6-004583f78f11</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>